@import url("https://fonts.googleapis.com/css?family=Open+Sans:300:400,600");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "chat.css";

* {
    /* 
    padding을 10px 추가하게 됐을 때, 내가 width를 300px 주면 
    브라우저는 padding을 포함해서 300px 잡기 때문에 html과 css는 310px의 크기로 
    박스 width를 잡게 되기 때문에 이걸 고려해서 width를 290px 줘야한다.

    그런데 여기서 내가 요구한건 width를 100% 주는건데 이때 padding을 10px 주게되면
    width(100%) + padding(10px)이 되어 padding이 content를 밀어버림..
    
    이 때, box-sizing: border-box의 역할?
    ===> padding을 추가하지만 box는 더 크게 만들지 않게 해주는 역할

    더 이상 width가 100%가 아니여도 괜찮게 된다.
    -> 내가 요구했던 width를 100%로 만들기 위해 content가 들어있는 box를 밀어버리지 않게된다.

    미리 모든 요소들에세 적용시키는 것이 좋다!
    box안에 padding을 추가해도 box-size가 바뀌지 않게 된다.

    */
    box-sizing: border-box;
}

body {
    background-color: white;
    padding: 10px 20px;
    color: #020202;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
    /* 부모요소로부터 컬러 받아온다. */
    color: inherit;
    text-decoration: none;
}